$font-stack: Helvetica, sans-serif;
$background-color: #0D1317;
$default-font-size: 1rem;

$primary-color:#0E3953;
$primary-font-color: #89D2DC;
$primary-hover-color: #89D2DC;
$primary-hover-font-color: #0E3953;
$secondary-color: #101D42;
$secondary-font-color: #FFFFFF;